@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Lato, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  @apply bg-bg text-text;
  /* background-color: #002147; */
}

h1 {
  @apply mt-4 mb-4 text-2xl font-bold italic;
}

h1:not(:first-child) {
  @apply mt-16;
}

h2 {
  @apply my-2 text-lg italic;
  @apply flex flex-1 justify-between items-baseline;
}

h2::after {
  content: "";
  @apply flex-1 h-1 ml-3 bg-light-bg group-hover/section:bg-light-ui transition;
}

section {
  @apply mb-8;
}

.cards {
  @apply grid gap-1.5;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}

.card {
  @apply border-2 border-dark-border rounded-md transition;
  @apply hover:border-light-ui hover:shadow-md hover:text-light-text;
  @apply flex flex-1 flex-col;
  @apply overflow-auto;
}

a.card span {
  @apply px-4 pt-2 pb-1;
}

.card::after {
  content: "";
  @apply flex-auto w-full h-1 bg-light-bg hover:bg-light-ui;
}

.commitment {
  @apply min-h-[3rem] inline-flex items-stretch border-y border-dark-border;
  @apply focus:z-0;
}

.commitment .time {
  @apply px-2 pt-3 bg-dark-bg text-right border-r-2 border-dark-border tracking-wide;
}

.button {
  @apply px-4 py-1.5 bg-ui disabled:text-dark-text rounded transition;
}

input {
  @apply px-2 py-1 text-lg bg-ui rounded disabled:opacity-50;
}

input[type="date"],
input[type="time"] {
  color-scheme: dark;
}

select {
  @apply px-2 py-2 bg-ui rounded;
  border-right: 0.5rem solid transparent;
}

::-webkit-scrollbar {
  @apply w-3 bg-transparent;
}

::-webkit-scrollbar-track {
  @apply bg-dark-bg;
}

::-webkit-scrollbar-thumb {
  @apply bg-light-ui hover:bg-ui;
  border-radius: 0.25rem;
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  src: url(https://stackedit.io/static/fonts/lato-normal.27bd77b.woff)
    format("woff");
}

@font-face {
  font-family: Lato;
  font-style: italic;
  font-weight: 400;
  src: url(https://stackedit.io/static/fonts/lato-normal-italic.f28f2d6.woff)
    format("woff");
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  src: url(https://stackedit.io/static/fonts/lato-black.f80bda6.woff)
    format("woff");
}

@font-face {
  font-family: Lato;
  font-style: italic;
  font-weight: 600;
  src: url(https://stackedit.io/static/fonts/lato-black-italic.798eafd.woff)
    format("woff");
}
